My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "a5e2380e-13cc-48ea-960c-241adbe6083f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8f04c97-232f-4f6a-80c1-49237d62a340",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "Claude",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "516ffdb3-9bac-48c2-a761-b85b3f188970",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "GPT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1299613e-3f5f-46c4-b54e-e29fcecaa9fd",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "OpenAI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "00a5f705-e536-4b2a-9616-0234e1be2976",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": " AI model",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b6f9fe0f-0409-4ffc-9b80-7c20b4b93108",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "AI startup",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "bd037848-b463-419c-bb81-27701d775d15",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "LLM",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1d992c4a-bcc7-49d4-913d-17f7076fffee",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "Generative AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "69854e98-9368-47a0-822e-e316298181da",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "AI Automation",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c2f4896f-5df7-47f6-a532-9c4478457c09",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "AI tool",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2e8cc3c1-e251-450f-90ac-13e849b58dc7",
              "leftValue": "={{$json[\"title\"]}}",
              "rightValue": "AI Agents",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        96
      ],
      "id": "4e39f576-6661-42b5-9260-618ce45e5b91",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1642296483",
        "text": "={{$json.telegramMessage}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        96
      ],
      "id": "fad90e87-ea19-4dc8-9bf0-bb03923a2371",
      "name": "Send a text message",
      "webhookId": "af9cc5ae-3942-41c3-87b3-40f3db5138fb",
      "credentials": {
        "telegramApi": {
          "id": "kQNtLwKuFk0VHv89",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        64
      ],
      "id": "5223a92b-37e7-4237-91fa-a8f70e5420ec",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.producthunt.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        -192
      ],
      "id": "3b784bbb-48ef-4ef4-8d80-9b0174ea8ada",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://huggingface.co/blog/feed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "e04e93a4-c57e-4aa6-984d-316a8933039c",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/LocalLLaMA/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "ec018ecb-7f63-4315-b899-768fe725d8c5",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/artificial/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        384
      ],
      "id": "7e43584a-7576-497d-9686-849f8eb9eaea",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6cc3be7-7ea8-4e15-8937-f252395f8536",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "86bbce6e-3b83-4a5f-88c6-461a45885e6c",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "21b03e30-e499-43a2-86c8-efa0279ba319",
              "name": "source",
              "value": "AI News",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        96
      ],
      "id": "032d9fb6-669d-4d4a-9ca5-06a0974b9390",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => { return { json: { updateNumber: index + 1, title: item.json.title, contentSnippet: item.json.contentSnippet } }; });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ],
      "id": "2ac15939-9779-4d70-a110-77a9d0301b55",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scam-antarctic-faceplate.ngrok-free.dev/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"ngrok-skip-browser-warning\": \"true\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": \"llama3\",\n  \"prompt\": \"Write ONE Telegram-ready AI news headline. Start with the main company, lab, product, or project name if mentioned. Make it specific, not generic. Include important numbers only if present. Do not say 'the company', 'the model', 'the filter', 'the study', or 'the approach'. Do not add intro text. Max 22 words. News title: \" + $json.title + \". News summary: \" + ($json.contentSnippet || \"\"),\n  \"stream\": false,\n  \"options\": {\n    \"num_predict\": 55,\n    \"temperature\": 0.2\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        96
      ],
      "id": "a0c761ee-2d91-4e56-8a62-ab5ec1722928",
      "name": "HTTP Request",
      "notesInFlow": false
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "5e949b25-73e6-4f84-aab5-0d6ed90b27d9",
      "name": "Limit Before HTTP",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1344,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n  let response =\n    item.json.response ||\n    item.json.body?.response ||\n    item.json.message?.content ||\n    item.json.body?.message?.content ||\n    \"\";\n\n  response = response\n    .replace(/Here is a summary of the news in one sentence:\\s*/i, \"\")\n    .replace(/Here is the one-line sentence summary:\\s*/i, \"\")\n    .replace(/Here is a one-sentence summary:\\s*/i, \"\")\n    .replace(/^[\"']|[\"']$/g, \"\")\n    .trim();\n\n  return {\n    json: {\n      telegramMessage: `🔥 AI UPDATE ${index + 1}: ${response}`\n    }\n  };\n});\n  "
      },
      "id": "30fd1a27-766b-4217-a147-81c024534e77",
      "name": "Code in JavaScript1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Limit Before HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Before HTTP": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "32a43d1a-eaf7-4f91-918a-edc445f2d9ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "379d6847c5378b2d33f54be2683516b5e436bbce7fcd2f8e4a173ba5b6bc45c5"
  },
  "id": "od5q2P6r3vNn3OCV",
  "tags": []
}